.affiliates-page {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f8f9;
  .affiliates-iframe {
    height: calc(100vh - 10px);
  }
}
