/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/
/bower_components/
/node_modules/
/.idea
/docroot/
/build/
.DS_Store
npm-debug.log
.eslintcache
/.env
package-lock.json
/public/assets
/resources/views/app.blade.php
/public/*.png
/public/*.json
/public/*.js
/public/style_images/*.*
!/public/style_images/default_front_*.png
!/public/style_images/default_back_*.png
!/public/style_images/default_background_*.jpg
