@import "~theme/configs/color.scss";
@import "~theme/configs/mixins.scss";

.mail-campaigns-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  .mail-campaigns-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .form-scroll-container  {
      margin-left: 0;
    }
  }
  .tab-container {
    margin-bottom: 70px;
    .selected-tab {
      @include theme-aware('background-color', 'color-site-background');
      @include theme-aware('color', 'color-site-text');
    } 
  }
  .form-scroll-container {
    height: calc(#{$modelContentHeight} - 283px);
    @media (min-width: 481px) and (max-width: 767px) {
      height: calc(100vh - 200px);
    }
    @media (min-width: 320px) and (max-width: 480px) {
      height: calc(100vh - 200px);
    }
  }
  .button-container {
    width: 100%;
    margin: 13px auto;
    text-align: center;
  }
}
