.phone-numbers-page {
    .form-scroll-container {
        width: 100%;
        margin-left: 0;
        .content-row  {
            margin: 5px 0;
            .phone-number-item-container {
                padding: 20px;
                width: 100%;
                margin: 0;
            }
        }
    }
}
