.gn-toast-wrapper {
  display: flex;
  flex-direction: row;
  font-family: Barlow, sans-serif, sans-serif;
  padding-bottom: 5px;
  align-items: center;
  .icon-wrapper {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    background-color: white;
    margin: 18px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    .title {
      font-size: 25px;
      line-height: 36px;
      font-weight: 600;
    }
    .content {
      font-size: 18px;
      line-height: 22px;
    }
  }
}