@import "~theme/configs/color";
@import "~theme/configs/mixins";

.tos-container {
  width: 100%;
  text-align: center;
  font-family: ProximaNova;
  font-size: rem(13);
  color: #2d2d2d;
  a {
    color: $main-color;
    text-decoration: underline;
  }
}
