<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en" ><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 " lang="en" ><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 " lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js " lang="en" ><!--<![endif]-->
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="BatchDriven">
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="BatchDriven">
    <meta name="description" content="BatchDriven helps real estate investors &amp; realtors knock doors and simultaneously drive for deals for the hottest off-market properties with little-to-no competition. It will help you reduce marketing costs, boost margins, and improve productivity &amp; efficiency.">
    <!-- Import manifest.json -->
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="BatchDriven" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="icon.png">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="icon.png">
    <meta name="msapplication-square70x70logo" content="icon_smalltile.png">
    <meta name="msapplication-square150x150logo" content="icon_mediumtile.png">
    <meta name="msapplication-wide310x150logo" content="icon_widetile.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script defer src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <!-- firstpromoter -->
    <script type="text/javascript">
        (function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://cdn.firstpromoter.com/fprom.js',t.onload=t.onreadystatechange=function(){var t=this.readyState;if(!t||"complete"==t||"loaded"==t)try{$FPROM.init("2mpi0s26",".batchdriven.com")}catch(t){}};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)})();
    </script>
</head>
<body >
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div id="app-container">
</div>
</body>
<!-- Prompt a message in the browser if users disabled JS -->
<noscript>Your browser does not support JavaScript!</noscript>
</html>
